@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body {
    height:100%;
}
  
body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: white;
    display: block;
}

header {
    position: absolute;
}

.title-main-page {
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    margin-left: 80px;
    font-size: 60px;
    color: white;
}

.bg-main-page, .bg2-main-page {
    width: 100%;
}

.introduce {
    font-size: 20px;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
}

.about > div {
    display: block;
    padding: 30px;
}

.about > div > h3 {
    color: black;
    font-size: 50px;
}

.about > div > p {
    color: red;
    font-size: 30px;
}

@media (max-width: 1060px) {
    .title-main-page {
        font-size: 40px;
    }
}